{% extends "mainpage.html" %}
{% block body %}
    <div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab_giftOrder" data-toggle="tab" data-id="tab_giftOrder" class="dbrclk">Car</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab_giftOrder">
            <div class="row">

            </div>
        </div>
    </div>

    <div class="row">
    <div class="col-md-12">
        <form class="" id="frmreport" name="frmreport" autocomplete="off">
          {% csrf_token %}
          <div class="form-group col-md-2">
        <select class="form-control" id="car_brand" name="car_brand">
            <option value="">--All--</option>
            {% for item in data.car_brand %}
                <option value="{{ item.car_brand }}">{{ item.car_brand }}</option>
            {% endfor %}
        </select>
        </div>
        <div class="form-group col-md-2">
            <input value="{{ data.fromDate }}" class="form-control" id="fromDate" name="fromDate" type="text" placeholder="Select Date">
        </div>
        <div class="form-group col-md-2">
            <input value="{{ data.toDate }}" class="form-control" id="toDate" name="toDate" type="text" placeholder="Select Date">
        </div>
        <div class="form-group col-md-4 align-self-end">
            <button class="btn btn-primary" type="button" onclick="reportsearch()">Search</button>
        </div>
        </form>
        <form>
          <div class="form-group col-md-2 align-self-end">
              <input type="submit" name="frmupdate" class="btn btn-primary" id="frmupdate" value="Update" onclick="frmupdate()">
          </div>
        </form>
    </div>
    </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-hover table-bordered" id="dataTable">
                            <thead>
                              <tr>
                                <th>Subject</th>
                                <th>Address</th>
                                <th>Price</th>
                                <th>Published Time</th>
                                <th>Images</th>
                              </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript">
        {#Function Gen Datatable#}
        function genTable(data) {
            $('#dataTable').DataTable({
                "order": [[ 3, "desc"]],
                dom: '<"dt-buttons"Bf><"clear">lirtp',
                buttons: [
                    'csv', 'excel', 'pdf'
                ],
                lengthMenu: [[10,25,50,100,-1], [10,25,50,100,"All"]],
                data: data.response_data,
                destroy: true,
                columns: [
                    {"data": "subject",
                        "render": function(data,type,row,meta){
                            if(type==='display') {
                                data = '<a href="' + row['org_link'] + '" target="_blank">' + data + '</a>';
                            }
                            return data;
                        }
                    },
                    {"data": "address"},
                    {"data": "price"},
                    {"data": "publish_time"},
                    {"data": "images",
                        "render": function(data,type,row,meta){
                                if(type==='display') {
                                    data = '<img src="' + JSON.parse(row['images'])[0] + '">';
                                }
                            return data;
                        },
                    },
                ],
                columnDefs:[
                    {   targets:3,
                        render:function(data){
                        return moment(data).format('YYYY-MM-DD');
                    }},
                ]
            });
        }

        {#Gen datatable for homepage#}
        $(document).ready(function () {
            $.ajax({
                url: "{% url 'listcar' %}",
                success: function (data) {
                    genTable(data);
                },
            });
        })

        {#Filter#}

        $("#frmreport").submit(function(e) {
            e.preventDefault();
            var form = $(this);
            $.ajax({
                type: "POST",
                url: {% url "listcar" %},
                data: form.serialize(),
                success: function(data) {
                    genTable(data);
                },
                error: function(error) {
                    alert(error);
                }
                });
        });
        function reportsearch() {
            $('#frmreport').submit();
        }

        {#Update New Car record#}

        $(document).ready(function () {
            $('#frmupdate').click(function (e) {
                e.preventDefault();
                $.ajax({
                    type: "POST",
                    url: {% url "updatecar" %},
                    data: { "Update": "Update",
                            'csrfmiddlewaretoken': '{{ csrf_token }}',
                    },
                    success: function (data) {
                        alert(data.response_message);
                        $.ajax({
                            url: "{% url 'listcar' %}",
                            success: function (data) {
                                genTable(data);
                            },
                        });
                    }
                });
            });
        });

        $('#fromDate').datepicker({
            format: "dd-mm-yyyy",
            autoclose: true,
            todayHighlight: true
        });

        $('#toDate').datepicker({
            format: "dd-mm-yyyy",
            autoclose: true,
            todayHighlight: true
        });

        $('#demoSelect').select2();
        function reportexport()
        {
            var serverID = document.getElementById("idServer").value;
            var fromDate = document.getElementById("fromDate").value;
            var toDate = document.getElementById("toDate").value;
            var DOMAIN = "https://po-ptm.mto.zing.vn/";
            window.location.href= DOMAIN + "main/exportreport?idServer="+serverID+"&fromDate=" + fromDate + "&toDate=" + toDate;
        }

    </script>

{% endblock %}