<!-- Sidebar menu-->
{% load static %}

<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
            <br>
            {% for item in data.left_menu %}
                <li class="treeview">
                    <a href="/{{ item.url }}">
                        <i class="fa fa-gear"></i>
                        <span>{{ item.name }}</span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
<script type="application/javascript">
    $(document).ready(function(){
        $('a').click( function(e) {
            var $tab = $(this).attr('id');
            if ("undefined" !== typeof $tab && $tab != "dashboard"){
                setCookie('tab_active', $tab, 1);
            }
        } );
    });

    function setCookie(cname, cvalue, exdays) {
        var d = new Date();
        d.setTime(d.getTime() + (exdays*24*60*60*1000));
        var expires = "expires="+ d.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
    }
    function getCookie(cname) {
        var name = cname + "=";
        var decodedCookie = decodeURIComponent(document.cookie);
        var ca = decodedCookie.split(';');
        for(var i = 0; i <ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }
</script>